body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}
div.mid-container p{
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: hsl(208, 11%, 55%);
}
.top-container{
  width: auto;
  height: 600px;
  border: 0 solid black;
  background-color: hsl(193, 100%, 96%);
  background-image: url("images/bg-hero-desktop.svg");
  padding: 25px 50px;
}
header{
  border: 0 solid black;
  height: 40px;
}
.subtop-container{
  display: flex;
  border: 0 solid black;
  margin-top: 50px;
}
.subtop-text{
  border: 0 solid black;
  flex: 1;
  padding-top: 50px;
  font-size: 18px;
  margin-right: 80px;
}
div.subtop-text button{
  background-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  border: 0;
  height: 12%;
  width: 40%;
  font-family: 'Open Sans', sans-serif;
  color: #ffff;
  font-size: 18px;
}
div.subtop-container img{
  border: 0 solid black;
  width: 50%;
}
.mid-container{
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  border: 0 solid black;
  padding: 100px 70px 250px 70px;
}
.mid-one{
  height: 250px;
  width: auto;
  border: 0 solid black;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 40px 70px;
}
.mid-two{
  height: 250px;
  width: auto;
  border: 0 solid black;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 40px 70px;
  margin-top: 30px;
}
.mid-three{
  height: 250px;
  width: auto;
  border: 0 solid black;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 40px 70px;
  margin-top: 30px;
}
.submid-one{
  border: 0 solid black;
  flex: 1;
  margin-right: 150px;
}
div.mid-one img{
  width: 35%;
}
.submid-two{
  border: 0 solid black;
  flex: 1;
  order: 2;
  margin-left: 150px;
}
div.mid-two img{
  width: 35%;
  order: 1;
}
.submid-three{
  border: 0 solid black;
  flex: 1;
  margin-right: 150px;
}
div.mid-three img{
  width: 35%;
}
.mid-positioning{
  border: 0 solid black;
  height: 150px;
  position: absolute;
  top: 1900px;
  left: 400px;
  border-radius: 5px;
  background-color: #ffff;
  padding: 20px 40px;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}
.low-container{
  width: auto;
  height: 300px;
  border: 1px solid black;
  background-color: hsl(192, 100%, 9%);
}
div.mid-positioning button{
  background-color: hsl(322, 100%, 66%);
  border-radius: 20px;
  border: 0;
  height: 30%;
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  color: #ffff;
  font-size: 18px;
}
